body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}

.orange-color{
    color: orange;
}
.paragraph{
    color: gray;
    width: 80%;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.button{
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-color: tomato;
    padding: 5px 40px;
    background: linear-gradient(to right, #ff9966 0%, #ff0000 100%);
    border-radius: 5px;
}

.first-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
